.dashboard-background {
    background-image: url('src\assets\image1.webp'); /* Make sure this path is correct */
    /* background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw; */
  }
  