body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* The sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #111; */
    padding-top: 20px;
    transition: 0.3s;
    overflow-x: hidden;
}

/* Sidebar links */
.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    /* color: white; */
    display: block;
    transition: 0.3s;
}

/* Hover effect */
/* .sidebar a:hover {
    background-color: #575757;
} */

/* Main content */
.content {
    margin-left: 260px;
    padding: 20px;
}